<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Prima di inserire un blocco, devi creare un'[istanza](glossary://instance) di [tipo](glossary://type) `Block`. Usa il codice seguente: `let block1 = Block()`.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
