<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>ก่อนอื่นให้ค้นหารูปแบบในปริศนา เมื่อคุณพบรูปแบบ ให้คิดทบทวนว่ากฎและคำแนะนำใดที่จะแก้ไขส่วนแต่ละส่วนของรูปแบบนั้นได้ เมื่อคุณหาวิธีการแก้ไขได้แล้ว ให้เขียนโค้ดของคุณ</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>สังเกตว่าทุกที่ที่มีเพชร เส้นทางจะเคลื่อนที่ไปทางขวา และเมื่อใดก็ตามที่มีสวิตช์ เส้นทางจะเคลื่อนที่ไปทางซ้าย ให้ใช้รูปแบบนี้สร้างอัลกอริทึมของคุณ</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
