<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>İki ada arasında bir geçit yaratmak için `greenPortal` [örneğini](glossary://instance) `place` metoduna geçir.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
