<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>你可以使用 [`for` 迴圈](glossary://for%20loop)或 [`while` 迴圈](glossary://while%20loop)來通關。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
