<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Hoewel dit raadsel er anders uitziet dan eerdere raadsels, kun je het ook oplossen met de rechterzijderegel. Als je de rechtermuur van het doolhof blijft volgen, bereikt je figuurtje uiteindelijk altijd de edelsteen.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
