<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Per iniziare, aggiungi un insieme di valori [Int](glossary://Int) all'array `heights`. Se vuoi aggiungere velocemente più elementi all'array, premi sulla parentesi quadra per selezionarla quindi trascina la parentesi quadra di chiusura verso destra.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
