<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>이 퍼즐을 해결하는 방법에는 여러 가지가 있습니다. 기술을 활용하여 블록, 포털, 계단을 추가하여 퍼즐을 해결할 수 있는 최선의 방법을 시도해 보세요.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
