<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>The [index out of range error](glossary://index%20out%20of%20range%20error) happens when you try using an index that’s outside of that array’s bounds.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
