<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>你可以使用下列程式碼，同時建立和放置 `Stair` 類型的[實例](glossary://instance)：`world.place(Stair(), facing: east, atColumn: 3, row: 3)`。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
