<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>코딩 배우기 2에서 배운 모든 지식을 사용하여 멋진 프로그램을 만들어봐요!</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
