<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Bir önceki alıştırmada bulunan kodu al ve biraz farklı olan bu bulmacayı çözmesini sağlayıp sağlayamayacağına bir bak. Yalnızca sağ tarafta engel bulunması yerine şimdi hem önde hem de sağ tarafta engel varken farklı bir eylem gerçekleştirmen gerektiğine dikkat et.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
