<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>조건식이 true인 동안 계속 코드 블록을 실행하는 `while` 루프 조건을 추가하세요.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
