<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>มีวิธีต่างๆ มากมายในการไขปริศนานี้ ใช้ทักษะการสร้างโลกของคุณเพื่อเพิ่มบล็อก ประตู และบันไดที่จะช่วยให้คุณไขปริศนาได้ด้วยวิธีที่คุณคิดว่าจะแก้ไขปัญหาได้ที่สุด</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
