<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Chame [métodos](glossary://method) em `world` (mundo) para alterar o mundo do puzzle, adicionar ou remover as partes que você quer mudar! Depois de adicionar algumas joias e controles, use o seu personagem para resolver o puzzle que você criou.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
