<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Överför [instansen](glossary://instance) `greenPortal` till metoden `place` för att skapa en portal mellan de båda öarna.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
