<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Bulmaca dünyasındaki her karoya karakterinin bir örneğini yerleştirmen gerekir. [Dizini](glossary://array), `0`’dan `5`’e tüm satır değerlerini içerecek şekilde değiştir.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
