<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Tänk på alla verktyg du har lärt dig hittills: [funktioner](glossary://function), [`for`-loopar](glossary://for%20loop), [`while`-loopar](glossary://while%20loop), [villkorlig kod](glossary://conditional%20code) och [operatorer](glossary://logical%20operator). Hur kan du använda de här befintliga verktygen till att lösa pusslet?</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
