<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Você pode usar o código a seguir para criar uma [instância](glossary://instance) do tipo `Stair` e colocá-la ao mesmo tempo: `world.place(Stair(), facing: east, atColumn: 3, row: 3)`.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
