<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Neem de bestaande code uit de vorige oefening als uitgangspunt en probeer deze geschikt te maken voor dit raadsel. Houd er rekening mee dat je nu niet alleen aan de rechterkant maar ook aan de voorkant geblokkeerd kunt worden, waardoor je een andere actie moet ondernemen.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
