<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>[인덱스 범위 초과 오류](glossary://index%20out%20of%20range%20error)는 배열의 범위에서 벗어나는 인덱스를 사용하려는 경우에 발생합니다.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
