<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>เรียกใช้[วิธีการ](glossary://method)บน `world` เพื่อเปลี่ยนโลกปริศนา เอาชิ้นส่วนใดก็ได้เข้าหรือออกได้ตามต้องการ! หลังจากที่คุณได้เพิ่มเพชรและสวิตช์แล้ว ให้ใช้ตัวละครของคุณในการแก้ปริศนาที่คุณได้สร้างไว้</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
