<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>找出到達寶石處的方法並切換所有關閉的開關。想想你所學的哪項技巧最適合達成這個目標。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
