<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>코드 주석을 읽고 각 섹션의 내용을 파악해야 하는 점을 잊지 마세요. 코드를 손보는 데 도움이 될 수도 있습니다. 코드를 변경하고 실행한 다음, 결과가 어떻게 바뀌었는지 확인해 보세요. 나만의 코드를 만들기 위해 필요한 부분을 발견하려면 이 절차를 반복해야 해요.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
