<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Önce, `heights` dizisine bir grup [Int](glossary://Int) değeri ekle. Dizine hızlı bir şekilde başka öğeler eklemek istersen köşeli parantezi basarak seç, sonra kapatma parantezini sağa sürüklemeyi dene.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
