<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Llega hasta la gema mientras activas todos los interruptores desactivados. De todas las habilidades que has aprendido, trata de identificar la que funcione mejor para cumplir este objetivo.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
