<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>O comprimento da plataforma muda sempre que você executa o código. Use uma solução que leve em conta esse tipo de alteração.
            </string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
