<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Necesitas colocar una instancia del personaje en todas las baldosas del rompecabezas. Modifica el [vector](glossary://array) para que incluya todos los valores de fila de la `0` a la `5`.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
