<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Podrías utilizar o un [bucle `for`](glossary://for%20loop) o un [bucle `while`](glossary://while%20loop) para resolver este rompecabezas.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
