<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Devi creare varie [istanze](glossary://instance) di [tipo](glossary://type) `Block` (blocco) e inserirle in posizioni che ti consentano di superare il livello.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
