<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Esistono molti modi diversi di superare questo livello. Usa le tecniche di costruzione dei mondi per aggiungere blocchi, portali e scale che possono aiutarti a completare il livello nel modo che ritieni migliore.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
