<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>El [error de índice fuera de los límites del arreglo](glossary://index%20out%20of%20range%20error) ocurre cuando intentas usar un índice que está fuera de los límites del arreglo.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
