<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Lägg först till en uppsättning [Int](glossary://Int)-värden i din `heights`-array. Om du snabbt vill lägga till fler objekt i arrayen kan du trycka ned på hakparentesen så att den markeras och sedan dra slutparentesen åt höger.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
