<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Não se esqueça de ler os comentários de código para entender o que cada seção faz. Isso pode até ajudar você a brincar um pouco com o código. Modifique alguma coisa, execute o código e veja o que ficou diferente. Repita o processo para descobrir todos os lugares para personalizar o seu código.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
